<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>

    <meta name="viewport" content="initial-scale=1.0,
      width=device-width"/>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
          href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>


</head>
<body>
<div style="width: 640px; height: 480px" id="mapContainer"></div>
<script>
    // Initialize the platform object:
    let platform = new H.service.Platform({
        apikey: 'l5jv713-_kdrN6l-2S16O8_lcgbpA9ucvH-pQ7QUDgQ',
        //useCIT: true,
        app_id: 'wXErL6RzSi9vHsDkMm4u',
        app_code: 'oK6WOWkVHXT0fEPAY6fkdw',
        //useHTTPS: true,
    });

    // Obtain the default map types from the platform object
    let defaultLayers = platform.createDefaultLayers({pois: true});

    var routingParameters = {
        // The routing mode:
        'mode': 'fastest;car',
        // The start point of the route:
        'waypoint0': 'geo!37.65427149997732,55.709926999975146',
        // The end point of the route:
        'waypoint1': 'geo!57.66427149997732,35.719926999975146',
        // To retrieve the shape of the route we choose the route
        // representation mode 'display'
        'representation': 'display'
    };

    //let map = new H.Map(document.getElementById('mapContainer'),
    //  maptypes.vector.normal.map, {
    //    center: {lng: 37.61540100000002, lat: 55.742793},
    //  zoom: 10
    //});

    let map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.vector.normal.map,
        {
            zoom: 10,
            center: {lng:37.65427149997732 , lat: 55.709926999975146}
        });

    // Define a callback function to process the routing response:
    var onResult = function (result) {
        var route,
            routeShape,
            startPoint,
            endPoint,
            linestring;
        if (result.response.route) {
            // Pick the first route from the response:
            route = result.response.route[0];
            // Pick the route's shape:
            routeShape = route.shape;

            // Create a linestring to use as a point source for the route line
            linestring = new H.geo.LineString();

            // Push all the points in the shape into the linestring:
            routeShape.forEach(function (point) {
                var parts = point.split(',');
                linestring.pushLatLngAlt(parts[0], parts[1]);
            });

            // Retrieve the mapped positions of the requested waypoints:
            startPoint = route.waypoint[0].mappedPosition;
            endPoint = route.waypoint[1].mappedPosition;

            // Create a polyline to display the route:
            var routeLine = new H.map.Polyline(linestring, {
                style: {strokeColor: 'blue', lineWidth: 3}
            });

            // Create a marker for the start point:
            var startMarker = new H.map.Marker({
                lat: startPoint.latitude,
                lng: startPoint.longitude
            });

            // Create a marker for the end point:
            var endMarker = new H.map.Marker({
                lat: endPoint.latitude,
                lng: endPoint.longitude
            });

            // Add the route polyline and the two markers to the map:
            map.addObjects([routeLine, startMarker, endMarker]);

            // Set the map's viewport to make the whole route visible:
            map.getViewModel().setLookAtData({bounds: routeLine.getBoundingBox()});
        }
    };

    // Get an instance of the routing service:
    var router = platform.getRoutingService();

    // Call calculateRoute() with the routing parameters,
    // the callback and an error callback function (called if a
    // communication error occurs):
    router.calculateRoute(routingParameters, onResult,
        function (error) {
            alert(error.message);
        });


    // Create the default UI:
    let ui = H.ui.UI.createDefault(map, defaultLayers, 'en-US');

    let zoom = ui.getControl('zoom');
    let mapSettings = ui.getControl('mapsettings');
    let scalebar = ui.getControl('scalebar');

    mapSettings.setAlignment('top-left');
    zoom.setAlignment('top-left');
    scalebar.setAlignment('top-left');

    let bubble = new H.ui.InfoBubble({lng:39.65427149997732 , lat: 55.709926999975146}, {
        content: '<b>Ti pidor!</b>'
    });

    // Add info bubble to the UI:
    ui.addBubble(bubble);

    let mapEvents = new H.mapevents.MapEvents(map);

    // Add event listener:
    map.addEventListener('tap', function(evt) {
      // Log 'tap' and 'mouse' events:
        //
        console.log(evt.type, evt.currentPointer.type);
});

</script>
</body>
</html>