<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        let data;
        getData();

        function getData() {
            axios.get('http://localhost:8000/geostatus/post/')
                .then(function (response) {
                    // handle success
                    data = response.data.items;
                    console.log('kek', response.data.items);
                    let k = 0;
                    let table_body = '';

                    table_body += '<table style="overflow-y: scroll; -webkit-overflow-scrolling: touch;"class="table table-dark table-striped table-responsive" width="100%"><thead><tr><th></th></tr></thead><tbody>';
                    for (k in data) {
                        table_body += '<tr>';
                        table_body += '<td>' + data[k]["name"] + '</td>';
                        table_body += '</tr>';
                        table_body += '<tr>';
                        table_body += '<td>' + data[k]["description"] + '</td>';
                        table_body += '</tr>';
                        table_body += '<tr><td><a href="http://57aa68f1.ngrok.io/recommendations/maps/' + data[k]["location"].split(', ')[0].replace('[', '') + '&' + data[k]["location"].split(', ')[1].replace(']', '') + '">view map</a></td>';
                        table_body += '</tr>';
                    }
                    table_body += '</tbody></table>';
                    $('#tableDiv').html(table_body);
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .finally(function () {
                    // always executed
                });
        }

        const interval = setInterval(function () {
            getData();
        }, 30000);
    </script>
</head>
<body style="background: #1d2124">
<div id="tableDiv" class="table table-dark" style="margin-top: 20px">
    Table will be generated here.
</div>
<p id="p1"></p>
</body>
</html>
